{% extends "skeleton.html" %}

{% block mapblock %}
<p>A map will be there soon.</p>
<div id="map"></div>
{% endblock %}

{% block include_script_block %}

<script>
 var test_lat = 49.7725792486481
 var test_lng = 4.72990389415167

 var coordinates = {{coord|safe}}
 /*var coordinates = {
     "pkm1": {
	 lat: 49.7747530135454,
	 lng: 4.72371108934624
     },
     "pkm2": {
	 lat: 49.7719133935275,
	 lng: 4.71677417022142
     },
     "pkm3": {
	 lat: 49.7742065317445,
	 lng: 4.71943838132884
     },
     "pkm4": {
	 lat: test_lat,
	 lng: test_lng
     }
 }*/

</script>

<script src="{{url_for('static', filename='js/pogomap.js')}}"></script>

<script async defer
	src="https://maps.googleapis.com/maps/api/js?key={{gmap_api_key}}&callback=initMap">
</script>
{% endblock %}
