{% extends "skeleton.html" %}

{% block nav %}
<nav class="light-blue">
    <div class="nav-wrapper">
	<a href="#!" class="brand-logo">PoGo-Spotted</a>
	<a href="#" data-activates="navbar"
	   class="button-collapse">
	    <i class="material-icons">menu</i>
	</a>
	<ul class="right hide-on-med-and-down">
	    <li><a href="{{url_for('index')}}">Home</a></li>
	    <li><a href="{{url_for('map')}}">Map</a></li>
	    <li><a href="{{url_for('nearby')}}">Nearby</a></li>
	</ul>
	<ul class="side-nav" id="navbar">
	    <li><a href="{{url_for('index')}}">Home</a></li>
	    <li><a href="{{url_for('map')}}">Map</a></li>
	    <li><a href="{{url_for('nearby')}}">Nearby</a></li>
	</ul>
    </div>
</nav>
{% endblock %}

{% block main %}
<main class="valign-wrapper" style="height: 92vh">
  <div class="container valign">
    <div class="row">
      <h1 class="col s12 center-align">Sigthing Report Submitted</h1>
      <h4 class="col s12 center-align">Thanks for your contribution</h4>
      <div class="center">
	<a class="waves-effect waves-light btn-large light-blue"
	   href="{{url_for('sightings')}}">
	  Report Again
	</a>
      </div>
    </div>
  </div>  
</main>
{% endblock %}

