{% extends "skeleton.html" %}

{% block nav %}
<nav class="light-blue">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">PoGo-Spotted</a>
    <a href="#" data-activates="navbar"
       class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{url_for('index')}}">Home</a></li>
      <li><a href="{{url_for('map')}}">Map</a></li>
    </ul>
    <ul class="side-nav" id="navbar">
      <li><a href="{{url_for('index')}}">Home</a></li>
      <li><a href="{{url_for('map')}}">Map</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block main %}
<main class="container">
  <div class="row">
    <form action="." method="post">
      <div class="input-field col s12">
	<select>
	  {% for pokemon_name in pokemons %}
	  {% set pokemon_id = pokemons.index(pokemon_name) + 1 %}
	  {% set img = "img/sprites/" ~ pokemon_id ~ ".png" %}
	  <option value="{{pokemon_id}}"
		  data-icon="{{url_for('static',
			     filename=img)}}"
		  class="left">{{pokemon_name|title}}
	  </option>
	  {% endfor %}
	</select>
      </div>
    </form>
  </div>
</main>
{% endblock %}
